.wraper{
    max-width: 800px;
    width: 100%;
    border: 2px solid red;
}
.container-acordion{

    margin-bottom: 25px;
    border: 2px solid black;
    position: relative;


}
.acc-desc{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0,5s;

}
.fa-arrow-up{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.container-acordion.active .acc-desc{
    height: 50px;
     
}